:root {
    --color-1: #00bcd4;

    overflow-x: hidden;

    --footer-height: 60px;
}

@font-face {
    font-family: Kumbh Sans;
    src: url(./assets/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

h1 {
    font-family: Kumbh Sans, sans-serif;
    font-weight: 1000;
    margin: 0;
}

h2 {
    font-family: Kumbh Sans, sans-serif;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.4em;
}

.fade-in{
    opacity: 1!important;
}

body {
    opacity: 1;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    animation: fadeIn 1s ease-in-out forwards;
    transition: opacity 1s;
}

.icon-container {
    position: relative;
    right: 3.5px;
    display: grid;
    grid-template-columns: repeat(8, 3.2vmin);
    grid-template-rows: repeat(8, 3.2vmin);
    gap: .7vmin;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.8s;
}

.square {
    width: 3.2vmin;
    height: 3.2vmin;
    border: .7vmin solid black;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.filled {
    background-color: #00bcd4; /* Light blue color */
    transform: scale(1.1);
}

/* Keyframes for fade-in and slide-in animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




.logo, .logo-text h1, .logo-text h3 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

.page-1 {
    animation: slideInFromLeft 1.2s ease forwards;
}

.page-2 {
    opacity: 0;
    animation: slideInFromBottom 1.2s ease forwards;
    animation-delay: 0s;
}

/* Transition for the text container for smooth load */
.text-container p {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

/* On page load, squares gradually appear */
.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(9),
.square:nth-child(10),
.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(15),
.square:nth-child(16),
.square:nth-child(49),
.square:nth-child(50),
.square:nth-child(57),
.square:nth-child(58),
.square:nth-child(55),
.square:nth-child(56),
.square:nth-child(63),
.square:nth-child(64) {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
    animation-delay: 1.3s;
}

/* Apply fade-in to middle squares */
.square:nth-child(19),
.square:nth-child(20),
.square:nth-child(27),
.square:nth-child(28),
.square:nth-child(37),
.square:nth-child(38),
.square:nth-child(45),
.square:nth-child(46) {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
    animation-delay: 1.5s;
}


.wrapper-1{
    position: relative;
    background-image: url(./assets/bg2.png);
    background-size: 60px;
}
    .wrapper-1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(140deg, white, transparent);
        z-index: 0;
    }   

/* #region main1 */

.main {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - var(--footer-height));
    overflow-y: hidden;
    overflow-x: hidden;
} 

@media screen and (max-width: 720px) {
    .main {
        padding-bottom: 3rem;
        flex-direction: column;
        gap: 2rem;
    }
}

.page-1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
    @media screen and (max-width: 720px) {
        .page-1 {
            margin-top: 2rem;
        }
    }

.logo {
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.logo-text {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-text h1 {
    font-size: 7.8vmin;
}

.logo-text h3 {
    font-size: 4.35vmin;
}

.page-2 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 3rem;
}
    @media screen and (max-width: 720px) {
        .page-2 {
            margin-top: 2rem;
            padding: 0 3rem 4rem;
        }
    }



/* #endregion main */

/* Add transitions to the square backgrounds */
.square {
    transition: background-color 0.3s ease;
}

/* #region ICON-1 */

/* Blank squares */
.square:nth-child(3),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6),
.square:nth-child(11),
.square:nth-child(12),
.square:nth-child(13),
.square:nth-child(14),
.square:nth-child(17),
.square:nth-child(18),
.square:nth-child(23),
.square:nth-child(24),
.square:nth-child(25),
.square:nth-child(26),
.square:nth-child(31),
.square:nth-child(32),
.square:nth-child(33),
.square:nth-child(34),
.square:nth-child(39),
.square:nth-child(40),
.square:nth-child(41),
.square:nth-child(42),
.square:nth-child(47),
.square:nth-child(48),
.square:nth-child(51),
.square:nth-child(52),
.square:nth-child(53),
.square:nth-child(54),
.square:nth-child(59),
.square:nth-child(60),
.square:nth-child(61),
.square:nth-child(62) {
    border: none;
    pointer-events: none;
    background-color: transparent !important;
}

/* Blank squares 2 */
.square:nth-child(3),
.square:nth-child(11),
.square:nth-child(23),
.square:nth-child(31),
.square:nth-child(39),
.square:nth-child(47),
.square:nth-child(51),
.square:nth-child(59) {
    border-left: .6vmin solid black;
}

/* Blank squares 3 */
.square:nth-child(17),
.square:nth-child(18),
.square:nth-child(23),
.square:nth-child(24),
.square:nth-child(51),
.square:nth-child(52),
.square:nth-child(53),
.square:nth-child(54) {
    border-top: .6vmin solid black;
}

/* Top-left 2x2 square */
.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(9),
.square:nth-child(10) {
    background-color: #00bcd4;
}

/* Top-right 2x2 square */
.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(15),
.square:nth-child(16) {
    background-color: white;
}

/* Bottom-left 2x2 square */
.square:nth-child(49),
.square:nth-child(50),
.square:nth-child(57),
.square:nth-child(58),
.square:nth-child(65),
.square:nth-child(66) {
    background-color: white;
}

/* Bottom-right 2x2 square */
.square:nth-child(55),
.square:nth-child(56),
.square:nth-child(63),
.square:nth-child(64),
.square:nth-child(71),
.square:nth-child(72) {
    background-color: #00bcd4;
}

/* Middle 4x4 square 1 */
.square:nth-child(19),
.square:nth-child(20),
.square:nth-child(27),
.square:nth-child(28),
.square:nth-child(37),
.square:nth-child(38),
.square:nth-child(45),
.square:nth-child(46) {
    background-color: #00bcd4;
}

/* #endregion ICON-1 */


/* Grid fade-in effect */
.icon-container {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.8s;
}



        

/* #region FOOTER */

.footer{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: calc(var(--footer-height) - 3px);
    border-top: 3px solid black;
    color: black;
    font-weight: bold;
    z-index: 99;
}
    .footer img{
        height: 55%;
        margin: 0 5rem;
        object-fit: contain;
    }
        @media screen and (max-width: 720px) {
            .footer img{
                margin: 0 1rem 0;
                height: 40%;
            }
        }
    .footer-info{
        display: flex;
        gap: 2rem;
    }
        @media screen and (max-width: 720px) {
            .footer-info{
                gap: 1rem;
                font-size: 0.85em;
                margin-right: 1rem;
            }
        }
    .footer-container{
        margin: 0 5rem;
    }
        @media screen and (max-width: 720px) {
            .footer-container{
                margin: 0;
            }
        }
    .footer p{
        font-size: .8em;
    }

/* #endregion FOOTER */